# Ignore cache files for Prettier linting and formatting checks
.prettiercache

# Ignore the Trivy cache and any .sarif files for uploading to GitHub
.trivy/
*.sarif

# Ignore Taskfile processing files
.task/checksum

# Ignore go test outputs and temporary files
coverage.html
coverage.out
coverage/

# Ignore goreleaser processing directories
bin/
dist/

# Ignore the default output directory for locally-generated pipelines
pipelines/

# Ignore CodeQL processing directory
.codeql/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
